---
layout: tailwind
---
{% assign page_data = site.data.contentful.lf.genericPage | where: "pretty_url", "who-we-are" | first %}

<main>
  <section class="grid grid-cols-2 gap-12 px-24 py-22  bg-gradient-to-br from-white via-[#faf9fb] to-white">
    <div class="">
      <img class="w-48 m-auto" src="{{page_data.featured_image.url}}" alt="{{page_data.featured_image.description}}"/>
    </div>
    <div class="flex flex-col justify-center gap-3">
      <h1 class="text-6xl font-semibold capitalize">{{ page_data.title }}</h1>
      <span class="block w-20 md:w-32 h-2 md:h-2 bg-gradient-to-r from-[#7d1b6e] to-transparent"></span>
      <p>{{page_data.introduction}}</p>
    </div>
  </section>

  <section class="px-24">
    {% assign people = site.data.contentful.lf.people %}
 
    {% comment %} Staff order attribute takes preference in ordering, therafter last name {% endcomment %}
    {% assign ordered_staff = people | where: 'type', 'Staff' | where_exp: 'item', 'item.order > 0' | sort: 'order' %}
    {% assign rest_of_staff = people | where: 'type', 'Staff' | where: 'order', empty | sort_natural: "last_name" %}
 
    {% assign staff_cards = ordered_staff | concat: rest_of_staff %}
 
    {% if staff_cards and staff_cards.size != 0 %}
      {% include components/generic-card-layout.html
        cards=staff_cards
        cards_heading="Staff"
        cards_type="people_cards"
      %}
    {% endif %}
 
    {% assign fellows_cards = people | where: 'type', 'Fellow' | sort_natural: "last_name" %}
 
    {% if fellows_cards and fellows_cards.size != 0 %}
        {% include components/generic-card-layout.html
        cards=fellows_cards
        cards_heading="Fellows"
        cards_type="people_cards"
        %}
    {% endif %}
 
    {% assign engelberg_staff = people | where: 'type', 'Engelberg Center Staff' | where_exp: 'item', 'item.order > 0' | sort: 'order' %}
    {% assign rest_of_engelberg = people | where: 'type', 'Engelberg Center Staff' | where: 'order', empty | sort_natural: "last_name" %}
 
    {% assign engelberg_staff_cards = engelberg_staff | concat: rest_of_engelberg %}
 
    {% if engelberg_staff_cards and engelberg_staff_cards.size != 0 %}
        {% include components/generic-card-layout.html
          cards=engelberg_staff_cards
          cards_heading="Engelberg Center Staff"
          cards_type="people_cards"
          cards_alumni=true
        %}
    {% endif %}
 
    {% assign research_network_cards = people | where: 'type', 'Research Network' | sort_natural: "last_name" %}
    {% if research_network_cards and research_network_cards.size != 0 %}
        {% include components/generic-card-layout.html
          cards=research_network_cards
          cards_heading="Research Network"
          cards_type="people_cards"
        %}
    {% endif %}
 
    {% assign intern_cards = people | where: 'type', 'Intern' | sort_natural: "last_name" %}
    {% if intern_cards and intern_cards.size != 0 %}
        {% include components/generic-card-layout.html
          cards=intern_cards
          cards_heading="Interns"
          cards_type="people_cards"
        %}
    {% endif %}
 
 
    {% assign advisory_board_cards = people | where: 'type', 'Intern' | sort_natural: "last_name" %}
    {% if advisory_board_cards and advisory_board_cards.size != 0 %}
        {% include components/generic-card-layout.html
          cards=advisory_board_cards
          cards_heading="Advisory Board"
          cards_type="people_cards"
        %}
    {% endif %}
 
 
    {% assign community_alumni_cards = people | where: 'type', 'Community Alumni' | sort_natural: "last_name" %}
    {% if community_alumni_cards and community_alumni_cards.size != 0 %}

      {% assign cards=community_alumni_cards %}
      {% assign cards_heading="Community Alumni"%}
      {% assign cards_type="people_cards"%}
      {% assign cards_alumni=true %}
      <div class="row expanded row--thin">
        <div class="column large-12 small-12 card-section-heading">
          <h2 class="text-3xl pt-18 pb-6 font-semibold">
            {{ cards_heading }}
          </h2>
        </div>
        <div class="grid lg:grid-cols-4">
          {% for card in cards %}
          <div class="flex flex-col items-center text-center">
            <span class="block my-8 w-20 md:w-32 h-2 md:h-2 bg-gradient-to-r from-[#7d1b6e] to-transparent"></span>
            <a href="{{ card.pretty_url | prepend: '/people/' | relative_url }}">
              <h4 class="text-xl font-semibold mb-2">{{ card.display_name }}</h4>
            </a>
            <p class="">{{ card.title }}</p>
            <p class="card__affiliation">{{ card.affiliation }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

  </section>
</main>
