---
layout: tailwind
---

<main id="main" class="event-page">
  <div class="px-24 py-22 grid md:grid-cols-2 lg:grid-cols-[7fr_4fr] gap-5">
    <div class="">
      <div class="event__date">{{ page.event_start | date: "%B %d, %Y" }}</div>
      <h1 class="text-4xl font-semibold font-sans mb-6">{{ page.title }}</h1>
      <div class="prose">
        {{ page.long_description | strip_html | markdownify }}
      </div>
      <div class="bar" style="background-image: url('/images/bar-p.svg')"></div>
    </div>
    <div class="">
      <div class="event__featured-image-wrapper">
        <img src="{{page.featured_image.url}}" alt="{{page.featured_image.description}}" />
      </div>
      {% if page.button_url and page.button_text %}
        <a href="{{page.button_url}}" class="w-full my-5 btn btn-outline">{{page.button_text}}</a>
      {% endif %}
    </div>
  </div>

  <!-- MARKDOWN SECTIONS -->
  <div class="row expanded">
    <div class="column large-7 medium-12 small-12 markdown-content main-content">
     {{ page.body | markdownify }}
    </div>
    <div class="column large-offset-1 large-4 medium-12 small-12 event__sidebar-body no-padding markdown-content">
      {% for item in page.event_media %}
        <figure>
          {% assign alt_desc = item.description | replace: '"', '' | replace: "'", '' %}
          <img src="{{ item.url }}" alt="{{ alt_desc }}">
          <figcaption class="event-media-desc">{{ item.description }}</figcaption>
        </figure>
      {% endfor %}
    </div>
  </div>
</main>
